/* general */
* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0 auto;
  padding: 5em 0;
  width: 650px;
  font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
}

h1 {
  text-align: center;
  padding-bottom: 1em;
}

a {
  border: none;
  text-decoration: none;
  color: #777;
}

/* tables */
td img {display: block;}
table.gallery td {padding: 1em 2.5em;}
th {font-family: Verdana, Geneva, Arial, helvetica, sans-serif;}

/* page layout */
#footer {
  font-size: 10px;
}
